<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.sg4yk.audioplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppThemeNoActionBar">
        <service
                android:name=".utils.PlaybackService"
                android:enabled="true"
                android:exported="true">
        </service>
        <activity
                android:name=".LegalInfoActivity"
                android:label="@string/title_activity_licenses">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings"
                android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
                android:name=".NowPlayingActivity"
                android:theme="@style/AppThemeNoActionBarDark">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>